html, body{
  background-color: grey;
}
.navbar-light .navbar-nav a.nav-link {
    color: white;
}

.navbar-light a.navbar-brand {
    color: rgba(255,255,255,1);
}
#navbar {
  box-shadow: 0px 0px 11px #000;
  padding: 10px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #fbfcfe;
  text-align: center;
}
#float-right{
  display: flex;
  float: right !important;
  margin-left: auto;
}
.category-name-checkbox input[type=checkbox], input[type=radio]{
  margin-left: 3px;
}

button.btn.btn-primary a{
  color: black;
  margin-left: 3px;
  margin-bottom: 2px;
}
