<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <p>Full Name: <input type="text" name="username" placeholder="Full Name"></p>
  <p>Username: <input type="text" name="username" placeholder="Full Name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
