<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <p>Full Name: <input type="text" name="username" placeholder="Full Name"></p>
  <p>Username: <input type="text" name="username" placeholder="Username"></p>
  <p>Email: <input type="email" name="email" placeholder="sample@email.com"></p>
  <p>Password: <input type="password" name="password" placeholder="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
