<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1>Login</h1>
    <form method="post" action="/login">
      <div class="form-group">
        <label >Username</label>
        <input type="text" name="username" placeholder="Username" class="form-control"> <br>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" name="password" placeholder="Password" class="form-control"> <br> <br>
        <input type="submit" value="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
