<hr>
<div class="col-md-12">
    <a href="/recipes" class="btn">All</a>
    <% @categories.each do |category| %>
    <div class="btn btn-sm">
      <a href="#"><%= category.name %></a>
    </div>
    <% end %>
</div>
