<footer class="footer">
  <!-- <div class="container">
    <div class="widget-footer">
      <h4>Product</h4>
      <ul>
        <li><a href="#">Web Hosting</a></li>
        <li><a href="#">Shared Hosting</a></li>
        <li><a href="#">Dedicated Server</a></li>
        <li><a href="#">Private Cloud</a></li>
      </ul>
    </div><!--widget-footer-->

    <!-- <div class="widget-footer">
      <h4>Contact Us</h4>
      <ul>
        <li><a href="#">+123-333-123</a></li>
        <li><a href="#">support@enginehosting.com</a></li>
      </ul>
    </div><!--widget-footer-->
  <!--  <div class="widget-footer last">
      <a href="/"> Home
      </a>
      <p>There are many variations of passages of Lorem Ipsum </p>
      <ul class="social-icon">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div><!--widget-footer-->
    <div class="copyright">
      &copy; <%= Time.now.year %> All Rights Reserved ЯR.
    </div>
</footer>
