<nav class="navbar navbar-expand-lg navbar-light bg-primary" id="navbar">
  <a class="navbar-brand" href="/">Reciiipeee</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <a class="nav-link" id="float-right"> Welcome <%= @user.username %></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" id="float-right" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link float-right" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link float-right" href="/login">Login</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
