<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>
    <h1>Welcome home</h1>
    <h3><a href="/signup">Signup</a></h3>
    
  </body>
</html>
