<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/application.css">
    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Welcome to Reipe. Create your own recipe and checkout all recipes created by awesome people.</p>
        <hr class="my-4">
        <p>Create, Update, View all Recipes</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/recipes" role="button">Take me -> Recipes</a>
        </p>
      </div>
    </div>
  </body>
</html>
